.container {
    position: relative;
    color: white;
    z-index: -1;
}
.centered {
    position: relative;
    top: -320px;
    left: 20%;
    color: black;
    z-index: 1;
    text-align: left;
    vertical-align: top;
    font-size: 80%;
}

.money {
    text-align: right;
}

.borderfat{
    border-left: 15px solid #e7e7e7;
}