<vertical-split-pane
primary-component-minsize="50"
secondary-component-minsize="100"
local-storage-key="split-pane"
primary-component-initialratio="0.6">

<div class="split-pane-content-primary">
    <div class="left">            
        <table>
            <tr>
                <td class="column gray" rowspan="14"></td>
                <td class="column1"><h2>Ihre Rentenversicherung {{jahr}}</h2></td>
                <td class="column2"><img src="/assets/images/logo-rentenvers.png" height="50px"/></td>
            </tr>        
            <tr>
                <td class="column1">Für</td>
                <td class="column2">{{person.name}}</td>
            </tr>
            <tr>
                <td class="column1">Versicherungsnummer</td>
                <td class="column2">1234567890</td>
            </tr>
            <tr>
                <td colspan="2">
                    In dieser Renteninformation haben wir die für Sie vom {{person.berufsBegin | date:'d.M.yyyy'}} 
                    bis zum 1.1.{{person.jahrRenteninfo}} gespeicherten Daten und das geltende Rentenrecht berücksichtigt. 
                    Ihre Regelaltersrente würde nach Erreichen der Regelaltersgrenze (01.01.2047) am 01.02.2047 beginnen.
                    Änderungen in Ihren persönlichen Verhältnissen und gesetzliche Änderungen können sich auf Ihre zu erwartende Rente auswirken. 
                    Bitte beachten Sie, dass von der Rente auch Kranken- und Pflegeversicherungsbeiträge sowie gegebenenfalls Steuern zu zahlen sind. 
                    Auf der Rückseite finden Sie zudem wichtige Erläuterungen und zusätzliche Informationen.
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <b>Rente wegen voller Erwerbsminderung</b>
                </td>
            </tr>                                            
            <tr>
                <td class="column1">Wären Sie heute wegen gesundheitlicher Einschränkungen voll erwerbsgemindert, bekämen Sie von uns eine monatliche Rente von:</td>
                <td class="column2">600 €</td>
            </tr>
            <tr>
                <td colspan="2">
                    <b>Höhe Ihrer künftigen Regelaltersrente</b>
                </td>
            </tr>
            <tr>
                <td class="column1">Ihre bislang erreichte Rentenanwartschaft entspräche nach heutigem Stand einer 
                        monatlichen Rente von:</td>
                <td class="column2">{{person.renteBislang}} €</td>
            </tr>
            <tr><td></td><td></td></tr>             
            <tr>
                <td class="column1">Sollten bis zur Regelaltersgrenze Beiträge im Durchschnitt der letzten fünf Kalenderjahre gezahlt werden, bekämen Sie ohne Berücksichtigung von Rentenanpassungen von uns eine monatliche Rente von:</td>
                <td class="column2">{{person.rentePrognose}} €</td>
            </tr>
            <tr>
                <td colspan="2">
                    <b>Rentenanpassung</b>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Aufgrund zukünftiger Rentenanpassungen kann die errechnete Rente in Höhe von {{person.renteVoll}} EUR tatsächlich höher ausfallen. 
                    Allerdings können auch wir die Entwicklung nicht vorhersehen. Deshalb haben wir - ohne Berücksichtigung des Kaufkraftverlustes - zwei
                    mögliche Varianten für Sie gerechnet. Beträgt der jährliche Anpassungssatz 1 Prozent, so ergäbe sich eine monatliche Rente von 
                    etwa {{ person.renteBislang }} EUR. Bei einem jährlichen Anpassungssatz von 2 Prozent ergäbe sich eine monatliche Rente von 
                    etwa {{ person.rentePrognose }} EUR.
                </td>
            </tr>
            <tr>
                <b>Zusätzlicher Vorsorgebedarf</b>
                    <td colspan="2">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Da die Renten im Vergleich zu den Löhnen künftig geringer steigen werden und sich somit die spätere Lücke zwischen Rente und 
                    Erwerbseinkommen vergrößert, wird eine zusätzliche Absicherung für das Alter wichtiger ("Versorgungslücke"). Bei der ergänzenden 
                    Altersvorsorge sollten Sie - wie bei Ihrer zu erwartenden Rente - den Kaufkraftverlust beachten.
                </td>
            </tr>                
        </table>
    </div>  
</div>
<div class="split-pane-content-secondary">
    <div class="right">
        <div>
            <table>
                <tr>
                    <td><b>Die Rente findet Netto statt</b></td>
                    <td rowspan="2"><img src="/assets/images/invaliditaet-mittel.png" alt="loading ... /assets/images/invaliditaet-mittel.png" /></td>
                </tr>
                <tr>
                    <td>Steuern und Sozialversicherungsbeiträge können die Rentenzahlungen geringer ausfallen lassen.</td>
                </tr>
                <tr>
                    <td colspan="2"><div class="money">{{volleRenteBrutto | number:'1.2-2'}}</div> € volle EM-Rente Brutto</td>
                </tr>
                <tr>
                    <td colspan="2"><div class="money">{{volleErwerbsmiderungMonat | number:'1.2-2'}}</div> € Einkommensteuer inkl. Solidaritätszuschlag</td>
                </tr>                    
                <tr>
                    <td colspan="2"><div class="money">{{volleVersicherungen| number:'1.2-2'}}</div> € Kranken- und Pflegeversicherungsbeitrag</td>
                </tr>                  
                <tr>
                    <td colspan="2"><div class="money">{{volleErwerbsminderung| number:'1.2-2'}}</div> €  volle Erwerbsminderungsrente Netto</td>
                </tr>                    
            </table>
        </div>        
        <div>
            <table>
                <tr>
                    <td><b>Die Rente findet Netto statt</b></td>
                    <td rowspan="2"><img src="/assets/images/unfall-mittel.png" alt="loading ... /assets/images/unfall-mittel.png" /></td>
                </tr>
                <tr>
                    <td>Steuern und Sozialversicherungsbeiträge können die Rentenzahlungen geringer ausfallen lassen.</td>
                </tr>
                <tr>
                    <td colspan="2"><div class="money">{{halbeRenteBrutto | number:'1.2-2'}}</div> €  halbe EM-Rente Brutto</td>
                </tr>
                <tr>
                    <td colspan="2"><div class="money">{{halbeErwerbsmiderungMonat | number:'1.2-2'}}</div> € Einkommensteuer inkl. Solidaritätszuschlag</td>
                </tr>                    
                <tr>
                    <td colspan="2"><div class="money">{{halbeVersicherungen| number:'1.2-2'}}</div> € Kranken- und Pflegeversicherungsbeitrag</td>
                </tr>                  
                <tr>
                    <td colspan="2"><div class="money">{{halbeErwerbsminderung| number:'1.2-2'}}</div> €  halbe Erwerbsminderungsrente Netto</td>
                </tr>                    
            </table>
        </div>       
        <div>
            <table>
                <tr>
                    <td><b>Die Rente findet Netto statt</b></td>
                    <td rowspan="2"><img src="/assets/images/rechnen-mittel.png" alt="loading ... /assets/images/rechnen-mittel.png" /></td>
                </tr>
                <tr>
                    <td>Erreicht ein Erwerbsminderungsrentner die Regel-
                        altersgrenze, wird seine Erwerbsminderungsrente
                        in eine Altersrente umgewandelt.
                    </td>
                </tr>
                <tr>
                    <td colspan="2">Aufgrund fehlender Pflichtbeitäge während der Zeit der Erwerbs-
                        minderung wird die Altersrente voraussichtlich nicht höher ausfallen
                        als die volle Erwerbsminderungsrente.</td>
                </tr>
            </table>
        </div>                
    </div>
</div>
</vertical-split-pane>