table {
    width: 100%;
    border: 0px;    
}
.column.gray{
    background-color: gray;
    width: 5%;
}
.column1 {
    width: 75%;
  }
.column2 {
    width: 20%;
    text-align: right;
    vertical-align: bottom;
}
.money {
    width: 50px;
    text-align: right;
    float:left;
}

/* .split-pane-content-primary1 { */
.left {    
    position: relative;
    width: 60%;
    float: left;
}

/*.split-pane-content-secondary2 {*/
.right {
    position: relative;
    width: 40%;
    float: right;
}

.box { 
    position: relative;
    left: 67%;
    top: -220px;
    height: 1px;
    z-index: 1;
}
  
.label {
    width: 200px;
}

.rentenlogo {
    background-image: url(/assets/images/logo-rentenvers.png); 
    background-repeat:no-repeat; 
    background-position: right;
    background-size:80%;
    height: 63px;
}

.textright{
   text-align: right;
}

.borderfat{
    border-left: 15px solid #e7e7e7;
}

.borderright{
    border-right: thin solid #757075;
}

.bordertop{
    border-top: thin solid #757075
}

.borderspecial{
border-bottom: thin solid #757075;
border-left: thin solid #757075;
}

.smallertext{
font-size: 80%;width: 85px;
}
