.box { 
  position: relative;
  left: 71%;
  top: -120px;
  height: 40px;
  z-index: 1;
}

.label {
  width: 200px;
}

.rentenlogo {
  background-image: url(/assets/images/logo-rentenvers.png); 
  background-repeat:no-repeat; 
  background-position: right;
  background-size:80%; 
  height: 63px;
}

.textright{
  text-align: right;
}

.borderfat{
  border-left: 30px solid #757075;
}

.borderright{
  border-right: thin solid #757075;
}

.bordertop{
  border-top: thin solid #757075
}

.borderspecial{
  border-left: medium solid #757075;
  border-bottom: thin solid #757075;
  border-right: thin solid #757075;
}