<h3>R E N T E N I N F O R M A T I O N  -  die "halbe" Wahrheit!?</h3>
<nav>
	<a [routerLink]="['/']">Home</a>
  |
	<a [routerLink]="['/rente1']">Altersrente</a>
  |
  <a [routerLink]="['/rente2']">Erwerbsminderungsrente</a>  
  |
  <a [routerLink]="['/rente3']">Hinterbliebenenrente</a>
  |
	<a [routerLink]="['/rentechart']">Auswertung</a>
  |
	<a [routerLink]="['/hinweis']">Erläuterung</a>
</nav>

<main>
	<router-outlet></router-outlet>
</main>


<footer>
© M.Ch.Stöbe - alle Angaben ohne Gewähr - Stand 01.01.2015
</footer>
