table {
    width: 100%;
    border: 0px;    
}
.column.gray{
    background-color: gray;
    width: 5%;
}
.column1 {
    width: 75%;
  }
.column2 {
    width: 20%;
    text-align: right;
    vertical-align: bottom;
}

.container {
    position: relative;
    height: 400px;
    text-align: left;
    z-index: -1;
}
.table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    z-index: 1;
    text-align: left;
    vertical-align: bottom;
    font-size: 70%;
}

.textbox.small {
    width: 30px;
    text-align: right;
}

.money {
    width: 50px;
    text-align: right;
    float:left;
}